@import "tailwindcss";

@theme {
  --color-brand-background: #FFEEFF;
  --color-brand-primary: #E5BED7;
  --color-brand-secondary: #D1ABC4;
  --color-brand-accent: #FFD7F1;
  --color-brand-dark: #64435A;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /* Evita el rebote horizontal en iOS */
  position: relative;
}

* {
  box-sizing: border-box;
}

/* Ocultar barra de scroll en los filtros horizontales */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}